<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
{{{body}}}
<script>
    io(window.location.host).on('disconnect', function(){
        location.reload();
    });
</script>
</body>
</html>
